@font-face {
    font-family: "Kanit-MediumItalic";
    src: local("Kanit-MediumItalic"), url("../fonts/Kanit-MediumItalic.ttf") format("truetype");
    font-weight: bold;
}

button {
    border: none;
    background-color: rgb(240, 240, 240);
    font-size: 24px;
    color: rgb(60, 60, 60);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    font-family: "Kanit-MediumItalic";
  }
  
  button:hover {
    background-color: rgb(180, 180, 180);
  }
  
  .equals {
    grid-column: 3 / 5;
    color: rgb(255,255,225);
    background-color: rgb(255, 165, 0);
  }
  
  .equals:hover {
    background-color: rgb(240, 156, 0);
  }

  .reset {
    color: rgb(250, 250, 250);
    background-color: rgb(243, 61, 29);
  }

  .reset:hover {
    background-color: rgb(220, 39, 15);
  }

  .operation {
    color: rgb(250, 250, 250);
    background-color: rgb(0, 4, 255);
  }

  .operation:hover {
    background-color: rgb(10, 4, 220);
  }